# BASE APP INFO
APP_NAME=test
APP_VERSION=0.0.1
APP_SECRET=test
APP_ENV=dev
APP_PORT=8080
MASTER_KEY=test

# DATABASE SETTINGS
TYPEORM_HOST_LOCAL=localhost
TYPEORM_USER=user
TYPEORM_PASSWORD=pass
TYPEORM_DB=app
TYPEORM_HOST=db
TYPEORM_PORT=5432
TYPEORM_MIGRATIONS_PATHS=./migrations/*.ts
TYPEORM_ENTITY_PATHS=./src/**/*.entity.impl.ts
TYPEORM_SYNCHRONIZE=true
TYPEORM_LOGGING=true

# SWAGGER SETTINGS
SWAGGER_API_URI=docs
SWAGGER_API_TITLE='API'
SWAGGER_API_DESCRIPTION='This document contains API definition'
SWAGGER_API_VERSION=